/* reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* common */
body {
    height: 100vh;
    font-family: 'Lato', sans-serif;
    background: linear-gradient(to bottom, #009688 15%, #dcdbd1 15% 100%);
}

#root {
    height: 100%;
    padding: 24px 0;
}

.avatar {
    width: 60px;
    border-radius: 50%;
}

.debug {
    border: 1px solid navy;
}

/* palette */
.ms_bg_blue_200 {
    background-color: #8edafc;
}

.ms_bg_gray {
    background-color: #eaeaea;
}

.ms_bg_gray_500 {
    background-color: #e9ebeb;
}

.ms_bg_white {
    background-color: #fff;
}

.ms_bg_white_500 {
    background-color: #fafafa;
}

.ms_text_blue_200 {
    color: #8edafc;
}

.ms_text_gray {
    color: #b1b1b1;
}

.ms_text_gray_500 {
    color: #4f7485;
}

.ms_text_gray_700 {
    color: #6b7376;
}

/* typo */
.small_text {
    font-size: 11px;
}

.smaller_text {
    font-size: 8px;
}

/* main */
.container {
    display: flex;
    width: 80%;
    height: 100%;
    margin: auto;
}

.left_nav {
    display: flex;
    flex-direction: column;
    width: 35%;
}

.right_port {
    width: 65%;
}

/* left navigation column */
.multi_box {
    display: flex;
    align-items: center;
    padding: 0px 20px;
    height: 80px;
}
    /* user row */
        .user_box {
            display: flex;
            align-items: center;
            height: 70px;
            padding: 0px 10px ;
        }

        .user_avatar {
            width: 50px;
            border-radius: 50%;
        }

        .user_box h4 {
            flex-grow: 1;
        }

        .icons_box i {
            margin: 5px;
            font-size: 1.4rem;
        }
    /* notification */
        .notification_logo {
            width: 60px;
            height: 60px;
            border-radius: 50%;
            text-align: center;
            line-height: 60px;
            vertical-align: middle;
            font-size: 1.5rem;
            margin-right: 10px;
        }
    /* search bar */
    .search_box {
        padding: 5px 10px;
    }
    
    .search_container {
        display: flex;
        border: 1px solid #f5f5f5;
    }

    .search_container button, .search_container input, .new_message input {
        border: none;
    }

    .search_container button {
        border-right: 1px solid #f5f5f5;
        padding: 10px 30px;
    }

    .search_container input, .right_port .user_box input {
        flex-grow: 1;
        padding: 10px;
    }

    .search_container input::placeholder {
        color: #4f7485;
    }

    /* contacts list */
    .contacts_list {
        overflow-y: auto;
        flex-grow: 1;
    }

    .contacts_list .multi_box:not(:last-child) {
        border-bottom: 1px solid #f5f5f5;
    }

    .contacts_list .multi_box h4 {
        align-self: flex-start;
        margin: 10px 20px;
    }

/* right section */
.right_port {
    display: flex;
    flex-direction: column;
    background-image: url('../img/mine.jpg');
}
    /* right section top  */
    .right_port .user_box .text_box {
        margin-left: 15px;
        flex-grow: 1;
    }

    /* chat */
    .chat_container {
        display: flex;
        flex-direction: column;
        padding: 45px 100px;
        flex-grow: 1;
        overflow-y: auto;
    }

    .message {
        position: relative;
        padding: 15px;
        border-radius: 10px;
        margin: 10px 0px;
        width: 40%;
        min-width: 100px;
    }

    .message .date {
        position: absolute;
        bottom: 5px;
        right: 5px;
    }

    .received {
        background-color: #fff;
        align-self: flex-start;
    }

    .sent {
        background-color: #d5f9ba;
        align-self: flex-end;
    }

    /* message sending bar */
    .new_message input {
        border-radius: 5px;
    }

    .new_message .icons_box {
        padding: 0px 40px;
    }

    .new_message .icons_box i {
        margin: 0px;
    }