<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- css -->
    <link rel="stylesheet" href="css/style.css">
    <!-- /css -->
    <!-- fontawesome -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css" integrity="sha512-1ycn6IcaQQ40/MKBW2W4Rhis/DbILU74C1vSrLJxCq57o941Ym01SwNsOMqvEBFlcgUa6xLiPY/NS5R+E6ztJQ==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <!-- /fontawesome -->
    <!-- google fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700;900&display=swap" rel="stylesheet">
    <!-- /google fonts -->
    <title>Vue Boolzapp</title>
</head>
<body>
    <div id="root">
        <!-- flex container to place the two main sections side by side -->
        <main class="container">
            <!-- left section -->
            <div class="left_nav">
                <!-- user box with avatar, name and icons -->
                <div class="user_box ms_bg_gray">
                    <img class="user_avatar" src="img/avatar_io.jpg" alt="user image">
                    <h4>Nome Utente</h4>
                    <div class="icons_box ms_text_gray">
                        <i class="fas fa-circle-notch"></i>
                        <i class="fas fa-comment-alt"></i>
                        <i class="fas fa-ellipsis-v"></i>
                    </div>
                </div>
                <!-- /user box with avatar, name and icons -->
                <!-- notification box -->
                <div class="multi_box ms_bg_blue_200">
                    <div class="notification_logo ms_bg_white ms_text_blue_200">
                        <i class="fas fa-bell-slash"></i>
                    </div>
                    <div class="text_box">
                        <h4>Ricevi notifiche di nuovi messaggi</h4>
                        <a href="#" class="ms_text_gray_500 small_text">Attiva notifiche desktop</a>
                    </div>
                </div>
                <!-- /notification box -->
                <!-- search bar -->
                <div class="search_box ms_bg_white_500">
                    <div class="search_container">
                        <button class="ms_bg_white ms_text_gray"><i class="fas fa-search"></i></button>
                        <input type="text" placeholder="Cerca o inizia una nuova chat" v-model="userSearch" @input="contactSearch()">
                    </div>
                </div>
                <!-- /search bar -->
                <!-- contact list -->
                <!-- complete contact list to show by default -->
                <div v-if="userSearch == ''" class="contacts_list ms_bg_white">
                    <div class="multi_box" v-for="(contact, index) in contacts" :key="index" @click="getSelected(index); getLastAccess(contact.messages)" :class="(index == selectedContact) ? 'ms_bg_gray_500' : ''">
                    <img class="avatar" :src="getAvatar(index)" :alt="contact.name">
                    <h4 class="contact_name">{{contact.name}}</h4>
                    </div>
                </div>
                <!-- /complete contact list to show by default -->
                <!-- list to show upon contact search -->
                <div v-else class="contacts_list ms_bg_white">
                    <div class="multi_box" v-for="(element, index) in filteredUser" :key="index" @click="getSelected(element)" :class="(element == selectedContact) ? 'ms_bg_gray_500' : ''">
                    <img class="avatar" :src="getAvatar(element)" :alt="contacts[element].name">
                    <h4 class="contact_name">{{contacts[element].name}}</h4>
                    </div>
                </div>
                <!-- /list to show upon contact search -->
                <!-- /contact list -->
            </div>
            <!-- /left section -->
            <!-- right section -->
            <div class="right_port">
                <!-- contact info box -->
                <div class="user_box ms_bg_gray active_contact_box">
                    <img class="user_avatar" :src="getAvatar(selectedContact)" :alt="contacts[selectedContact].name">
                    <div class="text_box">
                        <h4>{{contacts[selectedContact].name}}</h4>
                        <p class="ms_text_gray small_text">Ultimo accesso: {{lastAccess}}</p>
                    </div>
                    <div class="icons_box ms_text_gray">
                        <i class="fas fa-search"></i>
                        <i class="fas fa-paperclip"></i>
                        <i class="fas fa-ellipsis-v"></i>
                    </div>
                </div>
                <!-- /contact info box -->
                <!-- chat display -->
                <div class="chat_container" v-chat-scroll="{smooth: true, notSmoothOnInit: true}">
                    <div class="message" v-for="(object, index) in contacts[selectedContact].messages" :class="object.status" :key="index" @click="showActions(); getClickedIndex(index)">
                        <div class="small_text">
                            {{object.message}}
                        </div>
                        <div class="date smaller_text ms_text_gray">
                            {{object.date}}
                        </div>
                        <div v-if="clickedIndex == index" class="message_actions ms_bg_white small_text">
                            <div>Info messaggio</div>
                            <div @click="deleteMessage(index)">Cancella messaggio</div>
                        </div>
                    </div>
                </div>
                <!-- /chat display -->
                <!-- message sending bar -->
                <div class="user_box ms_bg_gray new_message">
                    <div class="icons_box ms_text_gray_700"><i class="far fa-smile"></i></div>
                    <input type="text" placeholder="Scrivi un messaggio" v-model="newMessage" @keyup.enter="sendMessage(); sendReply()">
                    <div class="icons_box ms_text_gray_700"><i class="fas fa-microphone"></i></div>
                </div>
                <!-- /message sending bar -->
            </div>
            <!-- /right section -->
        </main>
        <!-- /flex container to place the two main sections side by side -->
    </div>

    <script src="https://cdn.jsdelivr.net/npm/vue@2.6.14/dist/vue.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/vue-chat-scroll/dist/vue-chat-scroll.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/dayjs/1.10.7/dayjs.min.js" integrity="sha512-bwD3VD/j6ypSSnyjuaURidZksoVx3L1RPvTkleC48SbHCZsemT3VKMD39KknPnH728LLXVMTisESIBOAb5/W0Q==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <script src="js/main.js"></script>
</body>
</html>